<input type="text" placeholder="search" (keypress)="gerFilteredUsers()" [(ngModel)]="term">
<br>

<label for="">Column</label>
<select [(ngModel)]="column">
    <option>fee</option>
    <option>name</option>
</select>

<label for="">Order</label>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="sort()">sort</button>

<select [(ngModel)]="pageno">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>
<button (click)="page()">page</button>


<table style="width: 100%;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>Fee</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentsdata">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.city}}</td>
            <td>{{student.fee | price}}</td>
            <td><img src="{{student.image}}"></td>
            <td>
                <button (click)="delete(student.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>