<div class="parent">
    <div class="left">
        <h2>Dashboard</h2>
        <h2 routerLink="structuraldirectives">Structural Directives</h2>
        <h2 routerLink="marks">Marks</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="event">Event</h2>
        <h2 routerLink="cars">Cars</h2>
        <h2 routerLink="products">Products</h2>
        <h2 routerLink="users">Users</h2>
        <h2 routerLink="createuser">Create-user</h2>
        <h2 routerLink="accounts">Accounts</h2>
        <h2 routerLink="createaccounts">Create-Accounts</h2>
        <h2 routerLink="vehicles">Vehicles</h2>
        <h2 routerLink="createvehicles">Create-vehicles</h2>
        <h2 routerLink="flipkart">FlipKart</h2>
        <h2 routerLink="mail">Mail</h2>
        <h2 routerLink="activity">Activity</h2>
        <h2 routerLink="memes">Memes</h2>
        <h2 routerLink="userform">User-Form</h2>
        <h2 routerLink="studentform">Student-form</h2>

        <button (click)="logout()">Logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>