*{
    margin:0px;
    padding:0px;
    // box-sizing: border-box;
}
.parent1{
    // width: 250px;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    width:25%;
    height:50%;

}
.chlid{
    display: block;
//     width: 25%;
//     height: 30%;

}